html {
  /* colors */
  --white-100: #FFFFFF;
  --grey-200: #D8D9DA;
  --grey-300: #969ca0;
  --charcoal-400: #272829;
  --charcoal-500: #171718;
  --darkgrey-600: #9ba4b5;

  /* fonts */
  --font-Nunito: "Nunito", "sans-serif";
  --font-Open-Sans: "Open Sans", "sans-serif";
  --font-Roboto: "Roboto", "sans-serif";
}
body {
  background-color: var(--white-100);
  font-family: var(--font-Nunito);
  font-size: 1.25rem;
}

h1 {
  text-align: center;
  margin: 2rem;
}

h2 {
  padding: 1rem 2rem;
  margin: 0;
}

main {
  width: 70rem;
  background-color: var(--grey-200);
  margin: 0px auto;
}

ul {
  list-style: none;
}

label {
  color: var(--charcoal-500);
  font-weight: 600;
}

#mid-section {
  background-color: var(--grey-300);
}

#mid-section ul {
  list-style: decimal;
}
.bold {
  text-transform: uppercase;
  font-weight: 800;
}

.tests {
  width: auto;
  display: flex;
  justify-content: left;
  margin-left: 2rem;
}

.tests input {
  width: auto;
  margin-right: 0.7rem;
  margin-bottom: 1.02rem;
}

.tests p {
  margin: 0px;
  padding-left: 1.5rem;
}

.title {
  font-family: var(--font-Roboto);
  box-shadow: 1px 1px 1px white;
  color: white;
}

p strong {
    color: var(--charcoal-400);
}

/* @media only screen and (max-width: 421px) {
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  main {
    width: 40rem;
  }
  
  .title {
    text-align: center;
    padding-top: 1.5rem;
  }
  
  ol {
    width: 25rem;
  }
  .tests {
    padding: 1rem;
  }
  
} */


@media only screen and (max-width: 600px) {
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  #intro {
    font-size: 1rem;
  } 
  main {
    width: 20rem;
  }
  
  .title {
    text-align: center;
    padding-top: 1.1rem;
  }

  ul li {
    width: 85%;
  }
  
  ol {
    width: 15rem;
    font-size: 1.1rem;
  }

  .tests {
    padding: 0.5rem;
    margin: 0;
  }
}
