html {
  /* colors */
  --white-100: #ffffff;
  --grey-200: #d8d9da;
  --grey-300: #969ca0;
  --charcoal-400: #272829;
  --charcoal-500: #171718;
  --darkgrey-600: #9ba4b5;

  /* fonts */
  --font-Nunito: "Nunito", "sans-serif";
  --font-Open-Sans: "Open Sans", "sans-serif";
  --font-Roboto: "Roboto", "sans-serif";
  --font-Lato: "Lato", "sans-serif";
  --font-Georgia: "Noto Sans Georgian", "sans-serif";
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  align-items: center;
}

#logo {
  margin-left: 2.5rem;
  font-size: 2rem;
  font-family: var(--font-Lato);
  text-decoration: none;
}

.menu-links {
  display: flex;
  justify-content: space-between;
}

.menu-links a {
  margin-right: 1.5rem;
}

.menu li {
  padding-right: 3.2rem;
}

header {
  background-color: #0072c6;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 70rem;
  margin: 0px auto;
  border-radius: 0.8rem;
  min-width: 21rem;
}

body {
  margin-top: 1.5rem;
  background-color: var(--white-100);
  font-family: var(--font-Nunito);
  font-size: 1.25rem;
  border-radius: 0.8rem;
}

p {
  padding: 0rem 2rem;
}

hr {
  width: 70%;
  height: 1px;
  background-color: #ffffff;
  margin: 20px auto;
  border: none;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.menu-links a:hover {
  font-weight: bold;
  border-bottom: 1px solid #f1f1f1;
  transform: scale(1.1);
  cursor: pointer;
}

h1 {
  text-align: center;
  margin: 2rem;
  padding-top: 2rem;
}

h2 {
  padding: 1rem 2rem;
  margin: 0;
}

h3 {
  padding: 1rem 2rem;
  margin: 0;
}

main {
  width: 70rem;
  background-color: var(--grey-200);
  margin: 0px auto;
  border-radius: 1rem;
}

ul {
  list-style: none;
}

label {
  color: var(--charcoal-500);
  font-weight: 600;
}

#mid-section {
  background-color: var(--grey-300);
  border-radius: 0.8rem;
}

#mid-section ul {
  list-style: decimal;
}
.bold {
  text-transform: uppercase;
  font-weight: 800;
}

.tests {
  width: auto;
  display: flex;
  justify-content: left;
  margin-left: 2rem;
}

.tests input {
  width: auto;
  margin-right: 0.7rem;
  margin-bottom: 1.02rem;
}

.tests p {
  margin: 0px;
  padding-left: 1.5rem;
}

.title {
  font-family: var(--font-Roboto);
  box-shadow: 1px 1px 1px white;
  color: white;
}

p strong {
  color: var(--charcoal-400);
}

#results {
  padding: 2rem 2rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 70rem;
  margin: 1rem auto;
  border-radius: 0.8rem;
  overflow: auto;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.material-icons.md-30 {
  font-size: 40px;
}

/* Button Styling */
#calculate {
  background-color: #007bff; /* Background color */
  color: #fff; /* Text color */
  font-size: 26px;
  padding: 15px 25px; /* Adjust padding to control button size */
  margin: 2% 45%;
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

#calculate:hover {
  background-color: #0056b3;
}

/* creating the hamburger menu */
.hamburger {
  display: none;
  z-index: 100;
  border: 0px;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

li .closeIcon {
  display: none;
}

.menu {
  position: fixed;
  width: 80%;
  height: 15rem;
  border-radius: 11px;
  margin: 0px auto;
  transform: translateY(-200%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #218dda;
  color: white;
  list-style: none;
  /* padding-top: 4rem; */
}

.showMenu {
  transform: translateY(0);
  margin-top: 9.5rem;
  padding-top: 1rem;
}

ul.menu.showMenu {
  padding: 10;
}

.showMenu li {
  padding-top: 1.2rem;
  text-align: center;
}

/* Responsive section */
@media only screen and (max-width: 600px) {
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
    font-size: 1.2rem;
  }

  p {
    text-align: center;
  }
  article ul li {
    text-align: center;
  }

  #result {
    margin-top: 1.5rem;
  }

  #logo {
    font-size: 1.2rem;
    display: inline;
    text-wrap: nowrap;
  }

  a#logo {
    margin-left: 1rem;
  }
  #intro {
    font-size: 1rem;
  }
  main {
    width: 100%;
  }

  header {
    width: 100%;
  }

  footer {
    width: 100%;
    padding: 10px 0;
    margin: 0px auto;
    border-radius: 0.8rem;
  }

  .title {
    text-align: center;
    padding-top: 1.1rem;
  }
  /* hides the links for the header and creates the hamburger  */
  .menu-links a {
    display: none;
    width: 50%;
  }

  .menu-links a {
    font-size: 1.2rem;
  }

  .menu-links {
    padding-left: 100px;
  }

  ul li {
    width: 85%;
  }

  ol {
    width: 90%;
    font-size: 1.1rem;
  }

  .tests {
    padding: 0.5rem;
    margin: 0;
  }
  #calculate {
    margin: 2% 35%;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .hamburger {
    display: flex;
    margin-right: 2.5rem;
    background-color: transparent;
    border: 0px;
    color: white;
    flex-direction: row;
    justify-content: left;
    z-index: 100;
  }

  /* section for the link items in the dropdown menu */
  a.menuItem {
    font-size: 1.5rem;
    color: white;
  }
  .showMenu {
    transform: translateY(0);
    margin-top: 9.5rem;
    padding-top: 3rem;
  }

  /* horizontal rule divider in dropdown menu */
  .menu hr {
    width: 50%;
    margin-right: 5rem;
  }

  ul.menu.showMenu {
    padding: 1rem;
    width: 34rem;
    height: 25rem;
  }

  .showMenu li {
    padding-top: 2.2rem;
    text-align: center;
    display: flex;
    justify-content: right;
  }
  #logo {
    font-size: 2.1rem;
    display: inline;
    text-wrap: nowrap;
  }
}

@media only screen and (max-width: 540px) {
  .hamburger {
    display: flex;
    margin-right: 2.5rem;
    background-color: transparent;
    border: 0px;
    color: white;
    flex-direction: row;
    justify-content: left;
    z-index: 100;
  }
  .showMenu {
    transform: translateY(0);
    margin-top: 9.5rem;
    padding-top: 3rem;
  }

  ul.menu.showMenu {
    padding: 10;
  }

  .showMenu li {
    padding-top: 2.2rem;
    text-align: center;
  }
}
@media only screen and (max-width: 440px) {
  .hamburger {
    display: flex;
    margin-right: 1rem;
    background-color: transparent;
    border: 0px;
    color: white;
    flex-direction: row;
    justify-content: left;
    z-index: 100;
  }
  a.menuItem {
    font-size: 1.4rem;
  }
  .showMenu {
    transform: translateY(0);
    margin-top: 9.5rem;
    padding-top: 1.2rem;
  }

  ul.menu.showMenu {
    /* padding: 10px; */
    width: 17rem;
  }

  .showMenu li {
    padding-top: 2.2rem;
    text-align: center;
  }
  #logo {
    font-size: 1.7rem;
    display: inline;
    text-wrap: nowrap;
  }
}
@media only screen and (max-width: 360px) {
  .hamburger {
    display: flex;
    margin-right: 1rem;
    background-color: transparent;
    border: 0px;
    color: white;
    flex-direction: row;
    justify-content: left;
    z-index: 100;
  }
  a.menuItem {
    font-size: 1.1rem;
    text-wrap: wrap;
  }
  a.menuItem::after {
    font-weight: bold;
    border-bottom: 1px solid #f1f1f1;
    transform: scale(1.1);
    cursor: pointer;
  }
  .showMenu {
    transform: translateY(0);
    margin-top: 9.5rem;
    padding-top: 1.2rem;
  }

  ul.menu.showMenu {
    /* padding: 10px; */
    width: 17rem;
  }

  .showMenu li {
    padding-top: 2.2rem;
    text-align: center;
  }
  #logo {
    font-size: 1.2rem;
    display: inline;
    text-wrap: nowrap;
  }
}
